<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="es"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>{% block title %}{% endblock %}</title> 
    <link rel="shortcut icon" href="{{ asset ('img/logoFavicon.ico')}}" type="image/x-icon" >

    <meta charset="utf-8" />
    <meta name="keywords" content={% block keywords %}{% endblock %} >
    <meta name="author" content="Alejandro Miralles Ruiz, estudiante de 2n DAW presencial en el IES El Caminas">
    <meta name="description" content={% block description %}{% endblock %} >
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="{{ asset ('styles/styleGeneral.css')}}" media="screen" >

    {% set morningMode = (app.request.cookies.get('morningMode') == 'true')  %}

    {% if morningMode %}
      <link rel="stylesheet" type="text/css" href="{{ asset ('styles/styleDia.css')}}" media="screen" >
    {% else %}
      <link rel="stylesheet" type="text/css" href="{{ asset ('styles/styleNoche.css')}}" media="screen" >
    {% endif %}


    <script src="{{ asset ('js/Cookies.js')}}"></script>
    {% block javascripts %}{% endblock %}

  </head>
  <body>

    <div id="top" class="row show-grid">
      
      <div class="container separate-rows tall rows">
        
        <div class="col-md-12">
          <header>
            <span class="h1"><a id="home" href="{{ path ('app_index')}}">Final Fantasy VII</a></span>
          </header>
        </div>
      </div>

      
      <div class="container separate-rows tall rows">
        <div class="col-md-12">
          <nav>
            {% if not morningMode %}
              <p name="Boton_cambio_dia" class="Boton_modo_dia"><a type="text/html" hreflang="es">Modo noche</a></p>
            {% else %}
              <p name="Boton_cambio_dia" class="Boton_modo_noche"><a type="text/html" hreflang="es">Modo dia</a></p>
            {% endif %}
          
          </nav>
        </div>
      </div>
      

    </div>

    <div id="center" class="row show-grid">
      <div class="container separate-rows tall rows">
        <div class="col-md-12">
          <content>
            {% block content %}
            
            {% endblock %}
          </content>
        </div>
        
      </div>
      
    </div>
        

        
    <div id="footer" class="row show-grid">
      <div class="container separate-rows tall rows">
        <div class="col-md-12">
          <footer>
            {% block footer %}{% endblock %} <br>
            <p>La <a href="https://www.flickr.com/photos/clf/44021925">imagen de la cabecera</a> está sujeta a la siguiente licencia: <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/"> Creative Commons</a></p>
            <p><span property="dct:title">FFVIIWiki</span> by <span property="cc:attributionName">Alumir3453</span> is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="creativeCommosImage"><img alt="atributionImage" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img alt="shareAlikeImage" style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p>
            <p>© 1997, 2019 SQUARE ENIX CO., LTD. All Rights Reserved. CHARACTER DESIGN: TETSUYA NOMURA LOGO ILLUSTRATION:© 1997 YOSHITAKA AMANO</p>
            
          </footer>
        </div>
        
      </div>
    </div>



  </body>
</html>