{% extends 'base.html.twig' %}

{% block title %}Monstruos{% endblock %}

{% block keywords %}"wiki, FFVII, final fantasy, final fantasy 7, final fantasy VII, informacion, monstruo, monstruos, puertos, enlaces"{% endblock %}

{% block description %}"Pagina puerto que sirve como puerto para todas las paginas de monstruos" {% endblock %}

{% block javascripts %} <script type="text/javascript" src="{{ asset('js/ShowMonsterCategory.js')}}" ></script>  {% endblock %}

{% block content %}
                <div id= "Lista_de_Monstruos">
                    <h2><a id="home2" hreflang="es" href="{{ path('app_index')}}">Home</a>-Monstruos</h2>
                    <br/>
                    <ul id="categorias">
                        <li><input type="button" class="all" value="Todos" > </li>
                        <li><input type="button" class="humanoid" value="Humanoide" > </li>
                        <li><input type="button" class="dessert" value="Desierto" > </li>
                        <li><input type="button" class="boss" value="Jefe" > </li>
                    </ul>
                    <ul id="monstruosIndexados" >
                        <li class="humanoid" ><a hreflang="es" type="text/html" href="{{ path('app_monsters_soldadoRaso')}}"><img alt="Imagen soldado" src="{{ asset('img/SoldadoRaso_SinFondo.png')}}" height="300"><br/>Soldado Raso</a></li>
                        <li class="dessert" ><a hreflang="es" type="text/html" href="{{ path ('app_monsters_joker')}}"><img alt="Imagen Joker" src="{{ asset ('img/Joker.png')}}" height="300"><br>Joker</a></li>
                        <li class="humanoid" ><a hreflang="es" type="text/html" href="{{ path ('app_monsters_ladron')}}"><img  alt="Imagen Ladron" src="{{ asset ('img/Ladron.png')}}" height="300"><br>Ladrón</a></li>
                        <li class="boss, dessert" ><a hreflang="es" type="text/html" href="{{ path('app_monsters_serpienteKalm')}}"><img  alt="Imagen Serpiente" src="{{ asset ('img/Serpiente.png')}}" height="300"><br>Serpiente Kalm</a></li>
                    </ul>
                </div>
{% endblock %}


{% block footer %}
{% endblock %}